version: "3.9"

services:
  web:
    build: .
    container_name: suntech_django
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: suntech_mysql
    restart: always
    environment:
      MYSQL_DATABASE: suntech_erp
      MYSQL_USER: suntech
      MYSQL_PASSWORD: suntech123
      MYSQL_ROOT_PASSWORD: root123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
