{% load static %}
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/themes/custom_css_by_sandip.css' %}" id="theme-style" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />
