{% load static %}
<nav class="page-sidebar" id="sidebar" style="position: fixed;">
  <div id="sidebar-collapse">
    <div class="admin-block d-flex">
      <div>
        <img src="{% static 'assets/img/admin-avatar.png' %}" width="45px" />
      </div>
      <div class="admin-info">
        <div class="font-strong">{{ user.first_name }} {{ user.last_name }}</div>
        <small>{{ user.department|default:"User" }}</small>
      </div>
    </div>

    <ul class="side-menu metismenu">
      {% if user.is_authenticated %}

        <!-- Dashboard -->
        <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
          <a href="{% url 'dashboard' %}">
            <i class="sidebar-item-icon fa fa-bar-chart"></i>
            <span class="nav-label">Dashboard</span>
          </a>
        </li>

        {% with current_url=request.resolver_match.url_name %}

          <!-- Purchase Orders -->
          <li class="{% if current_url in 'po_list po_create po_edit po_report' %}active{% endif %}">
            <a href="javascript:;">
              <i class="sidebar-item-icon fa fa-file-text"></i>
              <span class="nav-label">Purchase Orders</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse">
              <li class="{% if current_url in 'po_list po_create po_edit' %}active{% endif %}">
                <a href="{% url 'po:po_list' %}">PO Operation</a>
              </li>
              <li class="{% if current_url == 'po_report' %}active{% endif %}">
                <a href="{% url 'po:po_report' %}">PO Report</a>
              </li>
            </ul>
          </li>

          <!-- Bill of Materials -->
          <li class="{% if current_url in 'bom_list bom_create bom_edit bom_delete bom_report' %}active{% endif %}">
            <a href="javascript:;">
              <i class="sidebar-item-icon fa fa-file-text"></i>
              <span class="nav-label">Bill of Materials</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse">
              <li class="{% if current_url in 'bom_list bom_create bom_edit bom_delete' %}active{% endif %}">
                <a href="{% url 'bom:bom_list' %}">BOM Operation</a>
              </li>
              <li class="{% if current_url == 'bom_report' %}active{% endif %}">
                <a href="{% url 'bom:bom_report' %}">BOM Report</a>
              </li>
            </ul>
          </li>

          <!-- Indent -->
          <li class="{% if current_url in 'indent_list indent_create indent_edit indent_delete indent_report' %}active{% endif %}">
            <a href="javascript:;">
              <i class="sidebar-item-icon fa fa-file-text"></i>
              <span class="nav-label">Indent</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse">
              <li class="{% if current_url in 'indent_list indent_create indent_edit indent_delete' %}active{% endif %}">
                <a href="{% url 'indent:indent_list' %}">Indent Operation</a>
              </li>
              <li class="{% if current_url == 'indent_report' %}active{% endif %}">
                <a href="{% url 'indent:indent_report' %}">Indent Report</a>
              </li>
            </ul>
          </li>

          <!-- Masters -->
          <li class="{% if current_url in 'company_list company_create company_edit company_delete item_list item_create item_edit item_delete process_status_list process_status_create process_status_edit' %}active{% endif %}">
            <a href="javascript:;">
                <i class="sidebar-item-icon fa fa-cog"></i>
                <span class="nav-label">Masters</span>
                <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse">

                <li class="{% if current_url in 'company_list company_create company_edit company_delete' %}active{% endif %}">
                    <a href="{% url 'master:company_list' %}">Company Master</a>
                </li>

                <li class="{% if current_url in 'item_list item_create item_edit item_delete' %}active{% endif %}">
                    <a href="{% url 'master:item_list' %}">Item Master</a>
                </li>

                <li class="{% if current_url in 'process_status_list process_status_create process_status_edit' %}active{% endif %}">
                    <a href="{% url 'master:process_status_list' %}">Process Status Master</a>
                </li>

            </ul>
        </li>

          <!-- User Management -->
          <li class="{% if current_url in 'user_list user_create user_edit' %}active{% endif %}">
              <a href="javascript:;">
                  <i class="sidebar-item-icon fa fa-users"></i>
                  <span class="nav-label">User Management</span>
                  <i class="fa fa-angle-left arrow"></i>
              </a>
              <ul class="nav-2-level collapse">
                  <li class="{% if current_url in 'user_list user_create user_edit' %}active{% endif %}">
                      <a href="{% url 'users:user_list' %}">User List</a>
                  </li>
                  <li>
                      <a href="{% url 'users:user_create' %}">Create User</a>
                  </li>
              </ul>
          </li>

        {% endwith %}

        <!-- Logout -->
        <li>
          <a href="javascript:;" onclick="confirmLogout(event);">
            <i class="sidebar-item-icon fa fa-sign-out"></i>
            <span class="nav-label">Logout</span>
          </a>
        </li>

      {% endif %}
    </ul>
  </div>
</nav>

<form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
  {% csrf_token %}
</form>
